@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: darkslategrey;
}

h1,
h2,
a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: darkslategrey;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: .5rem;
}

.header {
    grid-column: 1 /7;
    grid-row: 1 /2;
    color: darkslategrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 1rem 1rem;
}

.header nav ul {
    display: flex;
    list-style-type: none;
    font-weight: 600;
}

.header nav li {
    margin-right: 15px;
    font-weight: 600;
    font-size: 150%;
}

#logo {
    font-size: 350%;
}


a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}


a:active {
    text-decoration: underline;
}

.hero {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    min-height: 900px;
    background: url('../images/istockphoto-1182262299-612x612a.jpg') center;
    background-size: cover;
    background-position: center;
    /*padding: 1rem 1rem;*/
}

.hero>* {
    color: white;
}


.hero-header {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.hero-header>h2 {
    color: white;
    background-color: rgba(138, 168, 68, 0.8);
    font-size: 175%;
    padding: 20px;
    margin: 40% 15% 10% 15%;
    place-self: center;
}

.hero-header>a {
    color: white;
    background-color: rgba(236, 116, 69, 0.9);
    font-size: 120%;
    padding: 20px;
    margin: 10% 15% 10% 15%;
    place-self: center;
}

.gallery-header {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
}

.gallery-header>h2 {
    text-align: center;
    font-size: 175%;
    padding: 2rem;
}

.bag-gallery {
    grid-column: 1 / 7;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: .5rem;
}

.bag-gallery .bag-gallery-image img {
    width: 100%;
    height: 100%;
}

.materials-header {
    grid-column: 1 / 7;
    grid-row: 5 / 6;
}

.materials-header h2 {
    text-align: center;
    font-size: 175%;
    padding: 2rem;
}

.materials {
    grid-column: 1 / 7;
    grid-row: 6 / 7;
    display: flex;
    background-color: rgba(193, 199, 193, 0.2);
}

.materials ul {
    font-size: 16px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    flex-basis: 40%;
	flex-grow: 0;
	flex-shrink:0;
    margin-left: 10%;
    margin-right: 10%;   
}

.materials ul .aligned {
    display: flex;
    align-items: center;
    margin: 5px;
}

span {
    padding: 10px;
}

.steps {
    grid-column: 1 / 7;
    grid-row: 7 / 8;
}

.steps h2 {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}

.steps h3 {
    background-color: rgb(243, 243, 231);
    font-size: 1.5rem;
    margin-left: 5%;
    margin-right: 5%;
}

.steps p {
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2rem;
}

.steps img {
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 50%;
}
/*
.footer {
    grid-column: 1 / 7;
    grid-row: 8 / 9;
    min-height: 100px;
    background-color: rgba(245, 226, 175, 0.541);
} 

.footer {
    grid-column: 1 / 7;
    grid-row: 8 / 9;
	background-color: rgba(245, 226, 175, 0.541);
	padding: 1em;
	text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;
	z-index: 3;
} */

footer {
    background-color: rgba(245, 226, 175, 0.541);
    grid-column: 1 / 7;
    grid-row: 8 / 9;
    height: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 170%;
    margin: 1%;
    padding: 1%;
    color: #3a3a3a;
}

/* media queries */

@media only screen and (max-width:1024px) {

    .container {
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
    }

    .hero {
        max-inline-size: 100%;
        block-size: auto;
        min-height: 500px;
    }

    
    .bag-gallery {
        grid-template-columns:1fr 1fr 1fr;
    } 

    .materials ul {
        height: 375px;
        flex-basis: 45%;
        flex-grow: 0;
        flex-shrink:0;
        margin-left: 5%;
        margin-right: 5%;  
    }

}

@media only screen and (max-width:768px) {

    .container {
        display: grid;
        grid-template-columns:  1fr 1fr;
    }

    .hero {
        max-inline-size: 100%;
        block-size: auto;
        min-height: 500px;
    }

    .bag-gallery {
        grid-template-columns:1fr 1fr;
    } 

    .materials ul {
        height: 420px;
        flex-basis: 45%;
        flex-grow: 0;
        flex-shrink:0;
        margin-left: 5%;
        margin-right: 5%;  
    }
}

@media only screen and (max-width:480px) {
    .container {
        display: grid;
        grid-template-columns:  1fr;
    }

    #logo {
        font-size: 175%;
    }

    .header nav li {
        margin-right: 15px;
        font-weight: 600;
        font-size: 100%;
    }

    .hero {
        max-inline-size: 100%;
        block-size: auto;
        min-height: 400px;
    }

    .hero-header>h2 {
        font-size: 120%;
    }
    
    .hero-header>a {
        font-size: 90%;
        padding: 10px;
    }

    .gallery-header>h2 {
        font-size: 120%;
        padding: 2rem;
    }

    .bag-gallery {
        grid-template-columns:1fr;
    } 

    .materials-header h2 {
        font-size: 120%;
    }
    

    .materials ul {
        font-size: 14px;
        flex-direction:row;
        flex-basis: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
    }

    .steps h3 {
        font-size: 1.25rem;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .steps p {
        font-size: 14px;
    }

    .steps img {
        width: 80%;
    }
}



