@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: darkslategrey;
}

h1,
h2,
a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    color: darkslategrey;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 500px 300px auto;
    grid-template-areas:
        "header header header header"
        "hero hero hero hero"
        "bag-gallery-1 bag-gallery-2 bag-gallery-3 bag-gallery-4"
        "materials materials materials materials"
        "step-1-img step-1-img step-1-img step-1-img"
        "step-1-text step-1-text step-1-text step-1-text"
        "step-2-img step-2-img step-2-img step-2-img"
        "step-2-text step-2-text step-2-text step-2-text"
        "step-3-img step-3-img step-3-img step-3-img"
        "step-3-text step-3-text step-3-text step-3-text"
        "step-4-img step-4-img step-4-img step-4-img"
        "step-4-text step-4-text step-4-text step-4-text"
        "step-5-img step-5-img step-5-img step-5-img"
        "step-5-text step-5-text step-5-text step-5-text"
        "footer footer footer footer";
    gap: .3rem;
}

.header {
    color: darkslategrey;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.header nav ul {
    display: flex;
    list-style-type: none;
    font-weight: 600;
}

.header nav li {
    margin-right: 15px;
    font-weight: 600;
}

#logo {
    font-size: 275%;
}


a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}


a:active {
    text-decoration: underline;
}


.hero {
    background-color: rgb(135, 212, 222);
    grid-area: hero;
    background: url('../images/pexels-pixabay-262713.jpg') center;
    background-position: bottom;
    align-items: right;
}

.bag-gallery-1 {
    background-color: rgba(200, 193, 207, 0.541);
    grid-area: bag-gallery-1;
    background: url('../images/istockphoto-1081824266-612x612.jpg');

}

.bag-gallery-2 {
    background-color: rgba(118, 113, 122, 0.541);
    grid-area: bag-gallery-2;
    background: url('../images/istockphoto-1081824266-612x612.jpg');

}

.bag-gallery-3 {
    background-color: rgba(97, 131, 145, 0.548);
    grid-area: bag-gallery-3;
    background: url('../images/istockphoto-1081824266-612x612.jpg');

}

.bag-gallery-4 {
    background-color: rgba(193, 207, 206, 0.541);
    grid-area: bag-gallery-4;
    background: url('../images/istockphoto-1081824266-612x612.jpg');

}


.materials {
    background-color: rgba(73, 65, 82, 0.541);
    grid-area: materials;
}


.step-1-img {
    background-color: rgba(94, 155, 119, 0.541);
    grid-area: step-1-img;
}

.step-1-text {
    background-color: rgba(214, 123, 49, 0.541);
    grid-area: step-1-text;
}

.step-2-img {
    background-color: rgba(94, 155, 119, 0.541);
    grid-area: step-2-img;
}

.step-2-text {
    background-color: rgba(214, 123, 49, 0.541);
    grid-area: step-2-text;
}

.step-3-img {
    background-color: rgba(94, 155, 119, 0.541);
    grid-area: step-3-img;
}

.step-3-text {
    background-color: rgba(214, 123, 49, 0.541);
    grid-area: step-3-text;
}

.step-4-img {
    background-color: rgba(94, 155, 119, 0.541);
    grid-area: step-4-img;
}

.step-4-text {
    background-color: rgba(214, 123, 49, 0.541);
    grid-area: step-4-text;
}

.step-5-img {
    background-color: rgba(94, 155, 119, 0.541);
    grid-area: step-5-img;
}

.step-5-text {
    background-color: rgba(214, 123, 49, 0.541);
    grid-area: step-5-text;
}

.footer {
    background-color: rgba(184, 214, 49, 0.541);
    grid-area: footer;
}

@media only screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 450px 350px 350px 350px 350px auto;
        grid-template-areas:
            "header"
            "hero"
            "bag-gallery-1"
            "bag-gallery-2"
            "bag-gallery-3"
            "bag-gallery-4"
            "materials"
            "step-1-img"
            "step-1-text"
            "step-2-img"
            "step-2-text"
            "step-3-img"
            "step-3-text"
            "step-4-img"
            "step-4-text"
            "step-5-img"
            "step-5-text"
            "footer";
    }
}

/*.wrapper {
    max-width: 100%;
    background-color: red;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, .5fr));*/
/*grid-column-gap: 10px;
    grid-row-gap: 10px;

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    background-color: red;
}

/*
body {
    color: #434344;
    font-family: sans-serif;
    font-weight: 400;
  }

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

.menu {
    display: flex;
    list-style-type: none;
}


.menu-item a {
    padding: 4px;
    color: darkslategray;
}
/*
.hero {
    background: url('../images/pexels-pixabay-262713.jpg') center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, .5fr));
    grid-template-rows: 450px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
} 
*/